-
    locals.roomPageDatabase = {
        '888': {
            images: [
                './images/888/roomPage-888-1.jpg',
                './images/888/roomPage-888-2.jpg',
                './images/888/roomPage-888-3.jpg',
            ],
            testimonials: {
                count: 2,
                items: [ {
                    avatar: './images/888/avatar-1.png',
                    firstName: 'Мурад',
                    sureName: 'Сарафанов',
                    timePassed: '5 дней назад',
                    likesCount: 12,
                    text: 'Великолепный матрас на кровати в основной спальне! ' +
                            'А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. ' +
                            'Выкрикивал комплименты повару — никто не жаловался из соседей.'
                }, {
                    avatar: './images/888/avatar-2.png',
                    firstName: 'Патрисия',
                    sureName: ' Стёклышкова',
                    timePassed: 'Неделю назад',
                    likesCount: 2,
                    text: 'Обслуживание на высоте! Всё аккуратно, чисто. ' +
                            'Завтраки в номер советую заказать, ' +
                            'каждый день новое блюдо и десерт как комплимент'
                },],

            },
            bullets: [
                'Нельзя с питомцами',
                'Без вечеринок и мероприятий',
                'Время прибытия — после 13:00, а выезд до 12:00',
            ],
            impressionsRating: { // Я не могу прокинуть эти данные в js файл piechart, поэтому копировал их туда
                '5': ['Великолепно', 130],
                '4': ['Хорошо', 70],
                '3': ['Удовлетворительно', 60],
                '2': ['Разочарован', 0],
            },
            orderInfo: {
                roomNumber: '888',
                roomCost: 9990,
                isLuxury: true,
                sale: 7, // Скидка в процентах
                additionalServices: 100 // Дневной сбор в рублевой валюте
            },
            benefits: [
                {
                title: 'Комфорт',
                text: 'Шумопоглощающие стены',
                class: 'comfort'
                }, {
                title: 'Удобство',
                text: 'Окно в каждой из спален',
                class: 'convenience'
                }, {
                title: 'Уют',
                text: 'Номер оснащён камином',
                class: 'cosiness'
                }
            ],
        }
    }