-
    locals.uiColors = {
        items: [ {
            title: "Dark Shade 100%",
            code: "#1F2041",
        },{
            title: "Dark Shade 75%",
            code: "#1F2041",
        },{
            title: "Dark Shade 50%",
            code: "#1F2041",
        },{
            title: "Dark Shade 25%",
            code: "#1F2041",
        },{
            title: "Dark Shade 5%",
            code: "#1F2041",
        },{
            title: "Purple",
            code: "#BC9CFF",
        },{
            title: "Green",
            code: "#6FCF97",
        },{
            title: "Gold",
            code: "#FFE39C",
        },{
            title: "Bronze",
            code: "#FFBA9C",
        },{
            title: "Blue",
            code: "#66D2EA",
        },{
            title: "Lilac",
            code: "#8BA4F9",
        },
        ]
    }
    locals.orderInfo = {
        roomNumber: '888',
        roomCost: 9990,
        isLuxury: true,
        sale: 7, // Скидка в процентах
        additionalServices: 100 // Дневной сбор в рублевой валюте
    }
