@import '../../theme/variables';

.ui {
  padding-top: 40px;
  width: 1240px;
  margin: 0 auto;

  /////////////////////////
  //// colors-and-type ////
  /////////////////////////
  &__colors-and-type {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
  }

  &__colors-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    min-width: 600px;
    max-width: 600px;
    list-style: none;
  }

  &__colors-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 280px;
    margin-bottom: 20px;
    margin-right: 20px;

    &:nth-child(2) span { opacity: 0.75; }
    &:nth-child(3) span { opacity: 0.50; }
    &:nth-child(4) span { opacity: 0.25; }
    &:nth-child(5) span { opacity: 0.05; }
  }

  &__color-box {
    display: block;
    margin-right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
  }

  &__titles-wrapper {
    &  > * {
      position: relative;
      text-align: center;
      padding-left: 40px;
    }
    & p {
      @include text-style;
    }
    & > *:nth-child(1)::after {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 24px;
      content: "H1";
      color: $dark-shade_0-25;
    }
    & > *:nth-child(2)::after {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 19px;
      content: "H2";
      color: $dark-shade_0-25;
    }
    & > *:nth-child(3)::after {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 12px;
      content: "H3";
      color: $dark-shade_0-25;
    }
    & > *:nth-child(4)::after {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 14px;
      content: "Body";
      color: $dark-shade_0-25;
    }
  }

  ///////////////////////
  //// form-elements ////
  ///////////////////////

  &__form-elements {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-areas:  "col-1 col-2 col-3";
    grid-gap: 40px;
    width: 100%;

    & h3 {
      margin-bottom: 10px;
    }

    & > * > * {
      margin-bottom: 30px;
    }

    &-wrapper {
      margin-bottom: 30px;
    }

    &-column {
      &--1 { grid-area: col-1; }
      &--2 { grid-area: col-2; }
      &--3 { grid-area: col-3; }
      &--narrow {
        max-width: 265px;
        & > * {
          margin-bottom: 30px;
        }
      }
    }

    &--buttons-subblock {
      margin-bottom: 20px;
      button {
        padding: 15px 20px;
      }

      & .button__box {
        border-radius: 25px;
        margin-right: 45px;

        & .button__gradient {
          top: -2px;
          margin: -2px -3px;
        }
        & .button--hollow {
          padding: 12px 20px 13px;
        }
      }

      & .borderless-button {
        @include borderless-button-style;
        padding: 15px 20px;
        margin-right: 45px;
        &:disabled {
          opacity: 0.5
        }

        &:hover,
        &:focus {
          @include hover-focus-style--hard
        }
      }
    }
    &--like {
      display: flex;
      flex-direction: column;
      & > * {
        margin-right: auto;
        margin-bottom: 5px;
      }
    }

    &--bottom {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  ///////////////
  //// Cards ////
  ///////////////
  &__cards {
    display: grid;
    grid-template-columns: 380px 380px 320px;
    grid-template-areas:  "col-1 col-2 col-3";
    grid-gap: 40px;
    width: 100%;

    & > * > * {
      margin-bottom: 40px;
    }

    &-column {
      &--1 { grid-area: col-1; }
      &--2 { grid-area: col-2; }
      &--3 { grid-area: col-3; }
    }
  }

  &__cards-room-list {
    margin: 0;
    margin-top: 400px;
    padding: 0;
    list-style: none;
  }

  &__cards-room-item {
    margin-bottom: 20px;
  }

}