@import '../../theme/variables.scss';

.input {
  display: inline-block;
  width: 100%;

  &--half{
    width: 46.5%;
  }

  &__label {
    @include h3-style;
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .input__field-wrapper {
    position: relative;
  }

  // Особая стилизация для поля email из блока footer
  // Добавление иконки стрелки
  &--subscribe-style .input__field-wrapper::after {
    @include arrow;
    background: url("./img/icon-arrow.svg") 50% 60% no-repeat;
  }

  // Добавление иконки стрелки --dropdown-style
  &__decoration-arrow { @include css-arrow; }

  &__field {
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem 3rem 1rem 1rem;
    color: $dark-shade_1;
    border: 1px solid $dark-shade_0-25;
    border-radius: 2px;

    &:focus + span {  @include css-arrow-transform; }

    &:hover,
    &:focus {
      @include hover-focus-style;
    }
  }
}