@import '../../theme/variables.scss';
.button {
  display: inline;
  position: relative;
  padding: 9px 20px 11px;

  font-size: 12px;

  border-radius: 22px;

  text-transform: uppercase;



  &--filled {
    color: white;
    background: $gradient;
  }

  &--hollow {

    color: $purple;

    // Стили + псевдоэлемент позволяют создать градиентный border
    padding: 7px 20px 9px;
    background: white;
    background-clip: padding-box;
    border: solid $border-width transparent;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border-width;
      border-radius: inherit;
      background: $gradient;
    }
  }
}