@import '../../theme/variables.scss';
.button {
  @include borderless-button-style;
  display: inline;
  position: relative;
  border-radius: 22px;


  &--with-arrow {
    position: relative;

    // Добавление иконки стрелки
    &::before {
      @include arrow;
      bottom: -3px;
      background: url('./img/icon-arrow_forward.svg') 50% 50% no-repeat

    }
  }


  &--full {
    text-align: center;
    width: 100%;
  }

  &--filled {
    padding: 9px 20px 10px;
    color: white;
    background: $gradient-purple;
  }

  // Hollow
  &__box {
    display: inline-block;
    position: relative;
    border-radius: 20px;
    background-clip: padding-box;
    z-index: 1;
    transition: 0.4s;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &--full {
      text-align: center;
      width: 100%;
    }
  }

  &__gradient {
    @include gradient-element();
    margin: -10px -2px;

  }
  &--hollow {
    position: relative;
    top: -1px;
    padding: 8px 20px 9px;
    background: white;
    border: solid 0 transparent;
  }


  &:hover,
  &:focus {
    @include hover-focus-style;
  }

}