@import '../../theme/variables.scss';
.button {
  display: inline;
  position: relative;
  border: none;
  border-radius: 22px;
  padding: 5px 0;
  cursor: pointer;

  color: $purple;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;

  &--with-arrow {
    position: relative;

    // Добавление иконки стрелки
    &::before {
      @include arrow;
      background: url('./img/icon-arrow_forward.svg') 50% 50% no-repeat

    }
  }


  &--full {
    text-align: center;
    width: 100%;
  }

  &--filled {
    padding: 7px 20px 9px;
    color: white;
    background: $gradient;
  }

  // Hollow
  &__box {
    display: inline-block;
    //padding: 8px 1px;
    position: relative;
    border-radius: 20px;
    background-clip: padding-box;
    z-index: 1;

    transition: 0.4s;


  }

  &__gradient {
    @include gradient-element();
    margin: -10px -2px;

  }
  &--hollow {
    position: relative;
    top: -1px;
    padding: 8px 20px 9px;
    background: white;
    border: solid 0 transparent;
  }
}