
//-
    options.text - подпись к слайдеру
    options.title - заголовок слайдера

mixin range-slider(options)
    .range-slider
        span.range-slider__title= options.title
        .range-slider__fields-wrapper
            span.range-slider__field.range-slider__field--0
            span -
            span.range-slider__field.range-slider__field--1
        .range-slider__bar
        p.range-slider__text= options.text