// -
    options - Объект листа
    options.title - Текст кнопки, открывающей список
    options.items - массив объектов с данными чекбоксов

mixin expandable-list(options)
    .expandable
        button.expandable__button(type='button')= options.title
        ul.expandable__list
            each item in options.items
                li.expandable__item
                    +checkbox(item)