extends ../base/base

block variables
    include ./catalog-data.pug
    include ../../components/room-card/room-card
    include ../../components/filter/filter
    include ../../components/pagination/pagination


block title
    | Starter kit

block main
    .catalog
        .catalog__wrapper-left
            .catalog__filter
                +filter()
        .catalog__wrapper-right
            .catalog__lead  Номера, которые мы для вас подобрали
            .catalog__cards-box
                ul.catalog__list
                    each item in locals.roomCardsInfo
                        li.catalog__item
                            +room-card(item)
            .catalog__pagination
                +pagination({
                    count: 15,
                    current: 1,
                })
                p 1 – 12 из 100+ вариантов аренды





