@import '../../theme/variables';

.catalog {
  box-sizing: border-box;
  width: 100%;
  padding: $site-padding;
  padding-top: 2.25rem;
  padding-bottom: 2rem;
  grid-column-gap: 50px;
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: 1fr 3fr;


  &__wrapper {
    padding: 20px 0;
    &-left {
      grid-area: left;
    }
    &-right {
      grid-area: right;
    }
  }

  &__lead {
    padding-bottom: 20px;
    font-size: 1.75rem;
    font-weight: bold;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

  }

  &__item {
    width: 32%;
    margin-bottom: 20px;
  }
}