-
    locals.roomCardsInfo = [
        {
            number: '888',
            cost: '9900',
            rating: '5',
            reviews: '145',
            isLuxury: true,
            href: '888.html',
            slides: [
                './images/room-888.jpg',
                './images/placeholder.png',
                './images/placeholder.png',
                './images/placeholder.png',
            ]
        }, {
            number: '840',
            cost: '9900',
            rating: '4',
            reviews: '65',
            href: '840.html',
            slides: [
                './images/room-840.jpg',
                './images/placeholder.png',
                './images/placeholder.png',
                './images/placeholder.png',
            ]
        }, {
            number: '980',
            cost: '8500',
            rating: '3',
            reviews: '35',
            isLuxury: true,
            href: '980.html',
            slides: [
                './images/room-980.jpg',
                './images/placeholder.png',
                './images/placeholder.png',
                './images/placeholder.png',
            ]
        }, {
            number: '856',
            cost: '7300',
            rating: '5',
            reviews: '19',
            href: '856.html',
            slides: [
                './images/room-856.jpg',
                './images/placeholder.png',
                './images/placeholder.png',
                './images/placeholder.png',
            ]
        }, {
            number: '740',
            cost: '6000',
            rating: '4',
            reviews: '44',
            href: '740.html',
            slides: [
                './images/room-740.jpg',
                './images/placeholder.png',
                './images/placeholder.png',
                './images/placeholder.png',
            ]
        }, {
            number: '982',
            cost: '5800',
            rating: '3',
            reviews: '56',
            href: '982.html',
            slides: [
                './images/room-982.jpg',
                './images/placeholder.png',
                './images/placeholder.png',
                './images/placeholder.png',
            ]
        }, {
            number: '678',
            cost: '5500',
            rating: '5',
            reviews: '45',
            href: '678.html',
            slides: [
                './images/room-678.jpg',
                './images/placeholder.png',
                './images/placeholder.png',
                './images/placeholder.png',
            ]
        }, {
            number: '450',
            cost: '5300',
            rating: '4',
            reviews: '39',
            href: '450.html',
            slides: [
                './images/room-450.jpg',
                './images/placeholder.png',
                './images/placeholder.png',
                './images/placeholder.png',
            ]
        }, {
            number: '350',
            cost: '5000',
            rating: '3',
            reviews: '77',
            href: '350.html',
            slides: [
                './images/room-350.jpg',
                './images/placeholder.png',
                './images/placeholder.png',
                './images/placeholder.png',
            ]
        }, {
            number: '666',
            cost: '666',
            rating: '5',
            reviews: '666',
            isLuxury: true,
            href: '666.html',
            slides: [
                './images/room-666.jpg',
                './images/placeholder.png',
                './images/placeholder.png',
                './images/placeholder.png',
            ]
        }, {
            number: '444',
            cost: '5000',
            rating: '3',
            reviews: '15',
            href: '444.html',
            slides: [
                './images/room-444.jpg',
                './images/placeholder.png',
                './images/placeholder.png',
                './images/placeholder.png',
            ]
        }, {
            number: '352',
            cost: '5000',
            rating: '3',
            reviews: '55',
            href: '352.html',
            slides: [
                './images/room-352.jpg',
                './images/placeholder.png',
                './images/placeholder.png',
                './images/placeholder.png',
            ]
        },
    ]