extends ../base/base
include ../../components/modal/modal

block links
    link(href="./plugins/datepicker/css/datepicker.css" rel="stylesheet")

block main
    .sign-up
        // <div class="slider">
        +modal({type: 'sing-up'})
block scripts
    script(src="./plugins/jquery/jquery-3.6.0.slim.min.js")
    script(src="./plugins/datepicker/js/datepicker.js")
    script.
         $(document).ready(function () {

             $('.js--calendar-field--start').datepicker({
                 classes: "calendar",
                 prevHtml:'<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.1757 8.01562V9.98438H3.98819L9.56632 15.6094L8.16007 17.0156L0.144441 9L8.16007 0.984375L9.56632 2.39062L3.98819 8.01562H16.1757Z" fill="#BC9CFF"/></svg>',
                 nextHtml:'<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.36252 0.984375L16.3781 9L8.36252 17.0156L6.95627 15.6094L12.5344 9.98438H0.346894V8.01562H12.5344L6.95627 2.39062L8.36252 0.984375Z" fill="#BC9CFF"/></svg>',
                 autoClose: true,
                 // inline: true,
                 clearButton: true,
                 applyButton: true
             });
         })


