.sign-up {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  & .modal {
    &__input {
      margin-bottom: 0.8rem;

      & label {
        display: none;
      }
    }

    & .calendar-box {
      margin-bottom: 20px;
    }

    &__button {
      margin-top: 1.5rem;
    }
  }

  & .slider {
    &__slide-3 {
      animation-name: slide2;
      animation-duration: 20s;
      animation-delay: 0s;
      background-position: 0 50%;
    }

    &__slide-4 {
      animation-name: slide2;
      animation-duration: 20s;
      animation-delay: 10s;
      background-position: 0 bottom;
    }
  }
}

