@import "../../theme/variables";
.social {

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  &__item {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 0;

    &:hover,
    &:focus {
      @include hover-focus-style;
    }
  }
}
