.index {
  position: relative;
  padding: 72px 140px 385px;
  width: 100%;

  &__text-lead {
    position: absolute;
    bottom: 15px;
    right: 10%;
    max-width: 300px;
    line-height: 1.5rem;
    text-align: right;
  }
}