extends ../base/base
include ../../components/modal/modal

block title
    | Starter kit

block main
    .index
        // <div class="slider"> - модуль слайдер находит блок
            с классом .index и встраивает в него слайдер
            (анимации описаны в блоке текущей страницы)
        +modal({type: 'find-apartments'})
        p.index__text-lead.
            Лучшие номера для вашей работы, отдыха
            и просто вдохновения




