extends ../base/base
include ../../components/modal/modal

block title
    | Starter kit

block main
    .index
        // <div class="slider">

        +modal({type: 'find-apartments'})
        p.index__text-lead.
            Лучшие номера для вашей работы, отдыха
            и просто вдохновения




