@import '../../theme/variables.scss';

.index {
  position: relative;
  padding: 72px 140px 385px;
  width: 100%;
  transition: 2s;


  &__text-lead {
    @include text-style;
    position: absolute;
    bottom: 15px;
    right: 10%;
    max-width: 300px;
    text-align: right;
  }


  @include media-breakpoint-down(1000px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 72px 0 385px;
    transition: 2s;

  }
}