@import "../../theme/variables";

.filter {

  &__legend {
    @include h3-style;
    margin-bottom: 18px;
    padding-top: 20px;
  }
  &__fieldset {
    margin: 0;
    padding: 0;
    border: none;

    &--accessibility {
      margin-bottom: 10px;
    }
  }

  &__calendar {
    margin-bottom: 20px;

    & .datepicker--cell-day  {
      height: 32px;
    }
  }

  &__range {
  }

  & .checkbox {
    margin-bottom: 5px;
  }

  &__dropdown {

    &--persons {
      margin-bottom: 33px;
    }

    & .input__label {
      margin-bottom: 4px;
    }

    &--facilities {
      padding-top: 5px;
      margin-bottom: 30px;
    }
  }
}