-
    locals.filter = {
        rules: [
            {labelText: 'Можно курить'},
            {labelText: 'Можно с питомцами'},
            {labelText: 'Можно приглашать гостей(до 10 человек)'},
        ],
        accessibility: [
            {
                labelTitle: 'Широки коридор',
                labelText: 'Ширина коридоров в номере не менее 91 см.',
            }, {
                labelTitle: 'Помощник для инвалидов',
                labelText: 'На 1 этаже вас встретит специалист  и проводит до номера.',
            },
        ],
        additional: [
            {labelText: 'Завтрак'},
            {labelText: 'Письменный стол'},
            {labelText: 'Стул для кормления'},
            {labelText: 'Кроватка'},
            {labelText: 'Телевизор'},
            {labelText: 'Интернет'},
            {labelText: 'Шампунь'},
            {labelText: 'Еще один телевизор'},
            {labelText: 'Целых два шампуня!!!'},
        ],
    }
