include ../input/input

//-
    options.items - [{}, {}] - массив объектов с данными полей
    options.items[0].labelText - подпись к полю
    options.items[0].type - "start"/"end"

mixin calendar(options)
    .calendar-box
        - var half = (options.items.length === 2);
        each item in options.items
            +input({
                labelText: item.labelText,
                type: 'text',
                placeholder: 'ДД.ММ.ГГГГ',
                mode: 'dropdown-style',
                half: half,
            })(class=`js--calendar-field--${item.type}`)