@import '../../theme/variables.scss';



.calendar {
  position: relative;
  font-family: 'Montserrat', 'Arial', sans-serif;
  width: 100%;
  max-width: 320px;
  border: 1px solid $dark-shade_0-25;

  // Я не могу подруг ому подогнать размер календаря под размер input
  &.js--filter-calendar {
    max-width: 275px;

  }

  &-box {
    display: flex;
    justify-content: space-between;
    & .input__field {
      cursor: pointer;
    }
  }

  // Стили для месяца и года (верхняя строка)
  & .datepicker--nav-title {
    color: $dark-shade_1;
    font-size: 1.3rem;
    font-weight: bold;
    & > i {
      color: inherit;
    }
  }

  // Стили для кнопок prev & next
  & svg {
    width: 20px;
    height: 20px;

    & path {
      fill: $purple;
      stroke-width: 0;
    }
  }

  // Стили для названия дней недели
  & .datepicker--day-name {
    font-size: 0.8rem;
    color: $purple;
    text-transform: none;
  }

  & .datepicker--cell {
    font-size: 0.8rem;
    color: $dark-shade_0-50;

    &.-disabled- {
      color: $dark-shade_0-25;
    }

    &.-selected- {
      position: relative;
      padding: 0 3px;
      color: white;
      background-image: $gradient-purple;
      background-clip: content-box;
      border-radius: 50%;

      &.-range-from-::after,
      &.-range-to-::before {
        position: absolute;
        content: "";
        background-image: $gradient-transparency;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
      }

      &.-range-to-::before {
        left: 0;
        right: 50%;
      }
    }

    &.-in-range- {
      background: $gradient-transparency;
    }
  }

  & .datepicker--buttons {
    justify-content: space-between;
  }

  & .datepicker--button {
    width: 45%;

    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;

    color: $purple;
    background: transparent;
    border: none;

  }

}