@import '../../theme/variables.scss';

.calendar-box {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.datepickers-container {
  // Таким образом он не перекрывает поля ввода
  height: 0;
  width: 100%;
}

.calendar {
  &__input:focus + span {
    transform: rotateX(180deg);
  }


  // Изменение стилей заданных плагином
  position: relative;
  width: 100%;
  font-family: 'Montserrat', 'Arial', sans-serif;
  border: 1px solid $dark-shade_0-25;

  &-box {
    display: flex;
    justify-content: space-between;
    & .input__field {
      cursor: pointer;
    }
  }

  // Стили для месяца и года (верхняя строка)
  & .datepicker--nav-title {
    color: $dark-shade_1;
    font-size: 1.3rem;
    font-weight: bold;
    & > i {
      color: inherit;
    }
  }
  // Стили для кнопок prev & next
  &__prev,
  &__next {
    display: block;
    font-size: 0;
    width: 40px;
    height: 40px;
  }

  &__prev { background: 30% 50% url(../../assets/img/icons/calendar-arrow_back.svg) no-repeat; }
  &__next { background: 30% 50% url(../../assets/img/icons/calendar-arrow_forward.svg) no-repeat; }

  & .datepicker--content {
    padding: 10px 18px;
  }

  // Стили для названия дней недели
  & .datepicker--day-name {
    font-size: 0.8rem;
    color: $purple;
    text-transform: none;
  }

  & .datepicker--cell-day {
    width: 40px;
    height: 40px;
    font-size: 0.8rem;
    color: $dark-shade_0-50;

    &.-disabled- {
      color: $dark-shade_0-25;
    }

    &.-selected- {
      position: relative;
      color: white;
      background-image: $gradient-purple;
      background-clip: content-box;
      border-radius: 50%;

      &.-range-from-::after,
      &.-range-to-::before {
        position: absolute;
        content: "";
        background-image: $gradient-transparency;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
      }

      &.-range-to-::before {
        left: 0;
        right: 50%;
      }
    }

    &.-in-range- {
      background: $gradient-transparency;
    }

    &.-current- {
      border-radius: 50%;
      background: $gradient-green;
    }
  }

  & .datepicker--buttons {
    justify-content: space-between;
  }

  & .datepicker--button {
    width: 45%;

    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;

    color: $purple;
    background: transparent;
    border: none;

  }
}

