/***** Variables *****/
$xxs: 320px;
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1440px;

$dark-shade_1: transparentize(#1f2041, 0);
$dark-shade_0-75: transparentize(#1f2041, 0.25);
$dark-shade_0-50: transparentize(#1f2041, 0.5);
$dark-shade_0-25: transparentize(#1f2041, 0.75);
$dark-shade_0-05: transparentize(#1f2041, 0.95);
$purple: #bc9cff;
$dark-purple: #8ba4f9;
$green: #6fcf97;
$blue: #66d2ea;

$site-padding: 0 10rem;


$gradient-purple: linear-gradient($purple, $dark-purple);
$reverse-gradient-purple: linear-gradient($dark-purple, $purple);
$gradient-transparency: linear-gradient(rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
$gradient-green: linear-gradient($green, $blue);
$gradient-gold: linear-gradient(#FFE39C, #FFBA9C);
$gradient-dark: linear-gradient(#909090, #3D4975);
$modal-width: 380px;
$modal-width-slim: 320px;

@mixin h1-style {
  font-size: 24px;
  font-weight: bold;
  color: $dark-shade_1;
}

@mixin h2-style {
  font-size: 19px;
  font-weight: bold;
  color: $dark-shade_1;
}

@mixin h3-style {
  font-size: 12px;
  font-weight: bold;
  color: $dark-shade_1;
  text-transform: uppercase;
}

@mixin text-style {
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade_0-75;
}

@mixin borderless-button-style {
  font-size: 12px;
  font-weight: bold;
  color: $purple;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 5px 0;
}

@mixin hover-focus-style {
  outline: none;
  box-shadow: 0 0 2px 1px $dark-shade_0-50;
}

@mixin hover-focus-style--hard {
  outline: none;
  box-shadow: 0 0 6px 1px $dark-shade_1;
}

@mixin arrow {
  position: absolute;
  content: "";
  bottom: 0;
  right: -3px;
  width: 3.5rem;
  height: 3.5rem;
  pointer-events: none;
}

@mixin css-arrow {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  right: 15px;
  top: 35%;
  pointer-events: none;

  border-bottom: 2px solid $dark-shade_0-50;
  border-right: 2px solid $dark-shade_0-50;
  transform: rotate(45deg);
  transform-origin: bottom right;
  transition: 0.4s;
}

@mixin css-arrow-transform {
  transition: 0.4s;
  transform: rotate3d(1, -0.4, 0, 180deg) translate(6px, 6px);
}


// Общие стили для radio и toggler
// Они очень похожи, но тем не менее - это разные элементы,
// и стили для них должны быть раздельными, на тот случай,
// если подключаем только toggler, или только radio
@mixin radio-label {
  font-size: 1rem;
  color: $dark-shade_0-50;
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-bottom: 0.5rem;
}

@mixin radio-box {
  flex-shrink: 0;
  position: relative;
  top: 20%;
  left: 2px;

  margin-right: 10px;
  height: 18px;

  z-index: 1;
  pointer-events: none;
  transition: 0.4s;

  width: 18px;
  border-radius: 50%;
}

@mixin radio-hole() {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  border: solid 3px transparent;
  border-radius: inherit;
  background: white;
}

@mixin gradient-element {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: $gradient-purple;
}

@mixin radio-after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border-radius: inherit;
  background: $gradient-purple;
  transition: 0.4s;
}


/***** Mixins *****/
@mixin media-breakpoint-up($width) {
  @media (min-width: $width + 1) {
    @content;
  }
}

@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-breakpoint-between($min-width, $max-width) {
  @media (min-width: $min-width + 1) and (max-width: $max-width) {
    @content;
  }
}