@import '../../theme/variables.scss';

.modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: $modal-width;
  padding: 40px 30px 30px 30px;
  background-color: white;
  border: 1px solid $dark-shade_0-25;
  border-radius: 2px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);

  &__heading {
    @include h1-style;
    margin-bottom: 23px;
  }

  &__input {
    margin-bottom: 12px;
  }

  &__calendar-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  &__dropdown {
    margin-bottom: 32px;

    & + .modal__price-estimation {
      margin-top: -7px;
    }
  }

  &__radio {
    margin-bottom: 17px;

    & .radio__list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    & .radio__item {
      margin-right: 8%;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__tooltip {
    display: inline-block;
    margin-right: auto;
    margin-left: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1rem;
    font-weight: bold;
    color: $dark-shade_0-25;
    text-align: center;
    border: 2px solid $dark-shade_0-25;
    border-radius: 50%;
    cursor: pointer;
    transform: rotate(180deg);

    &:hover,
    &:focus {
      @include hover-focus-style--hard;
    }
  }

  &__button {
    margin-top: 20px;
    button {
      padding: 15px 20px;
    }
  }


  .modal__entry-data-title {
    @include h3-style;
    display: inline-block;
    margin: 0;
    margin-bottom: 5px;

  }

  &__bottom-link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 0;
  }

  // Описание модального окна оформления заказа
  // на странице соответствующей комнаты
  &__room-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;

    & h3 {
      color: $dark-shade_1;
      font-size: 1.7rem;
      margin: 0;
      margin-right: 0.5rem;
      & span:first-child {
        margin-right: 0.2rem;
        font-size: 1rem;
      }
    }
  }

  &__luxury-flag {
    margin-right: auto;
    color: $purple;
    font-weight: bold;
  }

  &__price {
    font-weight: bold;

    &-text {
      color: $dark-shade_0-50;
    }
  }

  &__price-estimation {

    & div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      align-items: flex-end;

      &:last-child {
        margin-top: 48px;
        font-size: 1.4rem;
        color: $dark-shade_1;
        font-weight: bold;
        & span:nth-child(2) {
          width: 100%;
          flex-shrink: 1;
          padding-bottom: 5px;
          border-bottom: 1px dotted $dark-shade_0-25;
        }
      }
    }
  }


  @include media-breakpoint-down(400px) {
    padding: 40px 15px 30px 15px;
    width: $modal-width-slim;
    &__calendar-box {
      & .datepicker--cell-day {
        height: 36px;
      }
    }
  }

}