-
  locals.menuItems = [
    {
      text: 'О нас',
      href: '/mock-address/change-me'
    }, {
      text: 'Услуги',
      href: '/mock-address/change-me',
      dropdown: true,
      dropdownContent: [
        {
          text: 'Бронирование',
          href: '/mock-address/change-me',
        },
        {
          text: 'Кредитование',
          href: '/mock-address/change-me',
        }
      ]

    }, {
      text: 'Вакансии',
      href: '/mock-address/change-me'
    }, {
      text: 'Новости',
      href: '/mock-address/change-me'
    }, {
      text: 'Соглашения',
      href: '/mock-address/change-me',
      dropdown: true,
      dropdownContent: [
        {
          text: 'Пользовательское Соглашение',
          href: '/mock-address/change-me',
        },
        {
          text: 'Согласие на обработку персональных данных',
          href: '/mock-address/change-me',
          dropdown: true,
          dropdownContent: [
            {
              text: 'Паспортные данные',
              href: '/mock-address/change-me',
            },
            {
              text: 'Медицинские данные',
              href: '/mock-address/change-me',
            },
          ]
        }
      ]
    }
  ]
  locals.guestMenuItems = [
    {
      text: 'Войти',
      href: '/mock-address/change-me',
      buttonMode: true,
      fillingStyle: "hollow",
      widthStyle: "fit"
    }, {
      text: 'Зарегистрироваться',
      href: '/mock-address/change-me',
      buttonMode: true,
      fillingStyle: "filled",
      widthStyle: "fit"
    }
  ]