-
  // Меню шапки
  locals.headerMenuItems = [
    {
      text: 'О нас',
      href: '/UI.html',
      isActive: true
    }, {
      text: 'Услуги',
      href: '/catalog.html',
      dropdown: true,
      dropdownContent: [
        {
          text: 'Хамам',
          href: '/mock-address/change-me'
        },
        {
          text: 'Игровой зал',
          href: '/mock-address/change-me'
        },
        {
          text: 'Библиотека',
          href: '/mock-address/change-me'
        }
      ]

    }, {
      text: 'Вакансии',
      href: '/mock-address/change-me'
    }, {
      text: 'Новости',
      href: '/mock-address/change-me'
    }, {
      text: 'Соглашения',
      href: '/mock-address/change-me',
      dropdown: true,
      dropdownContent: [
        {
          text: 'Пользовательское Соглашение',
          href: '/mock-address/change-me'
        },
        {
          text: 'Согласие на обработку персональных данных',
          href: '/mock-address/change-me',
          dropdown: true,
          dropdownContent: [
            {
              text: 'Паспортные данные',
              href: '/mock-address/change-me'
            },
            {
              text: 'Медицинские данные',
              href: '/mock-address/change-me'
            },
          ]
        }
      ]
    }
  ]

  // Пользователь
  locals.guestMenuItems = [
    {
      text: 'Войти',
      href: '/sign-in.html',
      buttonMode: true,
      fillingStyle: "hollow",
      widthStyle: "fit"
    }, {
      text: 'Зарегистрироваться',
      href: '/sign-up.html',
      buttonMode: true,
      fillingStyle: "filled",
      widthStyle: "fit"
    }
  ]

  // Меню подвала
  locals.footerMenuItems = [
    {
      title: 'Навигация',
      items: [
        {
          text: 'О нас',
          href: '/mock-address/change-me',
        },  {
          text: 'Новости',
          href: '/mock-address/change-me',
        },  {
          text: 'Служба поддержки',
          href: '/mock-address/change-me',
        },  {
          text: 'Услуги',
          href: '/mock-address/change-me'
        },
      ]
    },
    {
      title: 'О нас',
      items: [
        {
          text: 'О сервисе',
          href: '/mock-address/change-me',
        }, {
          text: 'Наша команда',
          href: '/mock-address/change-me',
        }, {
          text: 'Вакансии',
          href: '/mock-address/change-me',
        }, {
          text: 'Инвесторы',
          href: '/mock-address/change-me'
        },
      ]
    },
    {
      title: 'Cлужба поддержки',
      items: [
        {
          text: 'Соглашения',
          href: '/mock-address/change-me',
        }, {
          text: 'Сообщества',
          href: '/mock-address/change-me',
        }, {
          text: 'Связь с нами',
          href: '/mock-address/change-me'
        }
      ]
    },
  ]

  // Ссылки на соцсети
  locals.social = [
      {
        text: 'twitter',
        href: '/mock-address/change-me',
      },  {
        text: 'facebook',
        href: '/mock-address/change-me',
      },  {
        text: 'instagram',
        href: '/mock-address/change-me'
      },
  ]