-
  locals.menuItems = [
    {
      name: 'О нас',
      href: '/mock-address/change-me'
    }, {
      name: 'Услуги',
      href: '/mock-address/change-me'
    }, {
      name: 'Вакансии',
      href: '/mock-address/change-me'
    }, {
      name: 'Новости',
      href: '/mock-address/change-me'
    }, {
      name: 'Соглашения',
      href: '/mock-address/change-me'
    }
  ]
  locals.guestMenuItems = [
    {
      name: 'Войти',
      href: '/mock-address/change-me',
      buttonMode: true,
      fillingStyle: "hollow",
      widthStyle: "fit"
    }, {
      name: 'Зарегистрироваться',
      href: '/mock-address/change-me',
      buttonMode: true,
      fillingStyle: "filled",
      widthStyle: "fit"
    }
  ]