include ../main-navigation/main-navigation
include ../logo/logo

//-
  options.menuItems - массив элементов меню
  options.guestMenuItems - массив элементов гостевого меню

mixin header(options)
  if !options
    - options = {}

  .header
    .header__logo
      +logo()
    button.header__menu-toggle
    .header__menu-wrapper
      .header__menu
        +main-navigation({items: options.menuItems})
      .header__guest-menu
        +main-navigation({items: options.guestMenuItems})