.header {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  flex: 1 0 auto;
  padding: 0.9rem 10rem;
  align-items: center;
  &__menu {
    margin-right: 1.25rem;
  }
  &__logo {
    margin-right: auto;
  }

  &__guestMenu .menu__item {
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
