@import '../../theme/variables.scss';

.checkbox {
  &__label {
    @include radio-label();
  }

  &__title {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: $dark-shade_0-75;

    & + .checkbox__text {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__text {
    @include text-style;
    line-height: 18px;
  }

  // Градиентная радио-кнопка
  &__box {
    @include radio-box();
    border-radius: 4px;
    margin-right: 12px;

    & .checkbox__hole {
      @include radio-hole();
    }

    & .checkbox__gradient {
      @include gradient-element();
    }
  }

  // checked
  &__input:checked + .checkbox__box .checkbox__hole::after {
    content: '';
    position: absolute;
    top: 13%;
    left: 25%;
    width: 6px;
    height: 8px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-top: none;
    border-left: none;
    border-image: $gradient-purple;
    border-image-slice: 1;
    transition: 0.4s;
    transform: rotate(45deg);
  }

  // disabled
  &__input:disabled + .checkbox__box {
    opacity: 0.4;
  }

  &__input:hover + .checkbox__box .checkbox__gradient,
  &__input:focus + .checkbox__box .checkbox__gradient {
    @include hover-focus-style;
  }
}

