@import '../../theme/variables.scss';

.footer {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    padding: $site-padding;


    &__row {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 2px solid $dark-shade_0-05;

        &--top {
            padding: 7rem 0;
        }
        &--bottom {
            padding: 1.5rem 0;
        }
    }

    &__column {
        width: 13%;
        &--logo,
        &--subscribe {
            width: 22.5%
        }

        &-title {
            margin: 5px 0 15px;
        }

        &-text {
            @include text-style;
        }
    }

    &__links-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__link-item{
        margin-bottom: 0.5rem;

        & a {
            padding-left: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__mobile-logo {
        display: none;
    }

    &__copyright {
        @include text-style;
        text-align: center;
    }

    @include media-breakpoint-down(1000px) {
        padding: 0;
        &__row {
            &--top {
                display: none;
            }
            &--bottom {
                padding: 50px 20px;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
        }

        &__mobile-logo {
            display: block;
            margin-bottom: 20px;
        }

        &__copyright {
            margin-bottom: 20px;
        }
    }

}
