

mixin benefits(options)
    .benefits
        ul.benefits__list
            each item in options.items
                li.benefits__item(class=`benefits__item--${item[2]}`)
                    h4.benefits__subtitle= item[0]
                    span.benefits__text= item[1]